<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.login"><!-- namespace: 자바의 패키지와 비슷 -->

	<select id="selectAdminId" resultType="String"
		parameterType="adminLoginVO">
		select admin_id
		from admin
		where admin_id =#{admin_id} and
		password =
		#{password}

	</select>

</mapper>