<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties" />

	<typeAliases>
		<!-- user -->
		<!-- 회원가입시 사용하는 MemberVO -->
		<typeAlias type="kr.co.sist.user.member.MemberVO"
			alias="memberVO" />


		<!-- 메인페이지 Domain -->
		<typeAlias type="kr.co.sist.user.searchACM.SearchACMDomain"
			alias="searchACMDomain" />

		<!-- 마이페이지 예약 Domain -->
		<typeAlias type="kr.co.sist.user.mypage.ReservationDomain"
			alias="reservationDomain" />
		<!-- 마이페이지 리스트 조회 VO -->
		<typeAlias type="kr.co.sist.user.util.SearchVO"
			alias="searchVO" />
		<!-- 리뷰 쓰기 VO -->
		<typeAlias type="kr.co.sist.user.mypage.ReviewVO"
			alias="reviewVO" />

		<!-- 리뷰 Domain -->
		<typeAlias type="kr.co.sist.user.review.ReviewDomain"
			alias="reviewDomain" />

		<!-- 예약페이지 Domain -->
		<typeAlias type="kr.co.sist.user.reservation.RoomDomain"
			alias="roomDomain" />

		<!-- 예약페이지 VO -->
		<typeAlias type="kr.co.sist.user.reservation.ReservationVO"
			alias="reservationVO" />

		<!-- 시설 -->
		<typeAlias type="kr.co.sist.user.searchACM.FacilityDomain"
			alias="FacilityDomain" />

		<typeAlias type="kr.co.sist.user.searchACM.ACMTypeDomain"
			alias="ACMTypeDomain" />


		<!-- admin -->
		<!-- 관리자 로그인시 사용하는 VO -->
		<typeAlias type="kr.co.sist.admin.login.AdminLoginVO"
			alias="adminLoginVO" />

		<!-- 대시보드 결과 Domain -->
		<typeAlias type="kr.co.sist.admin.dashboard.DashboardDomain"
			alias="dashboardDomain" />

		<!-- 리뷰 관리를 위한 Domain -->
		<typeAlias type="kr.co.sist.admin.review.ReviewManageDomain"
			alias="reviewManageDomain" />

		<!-- 숙소리스트 검색을 위한 SearchVO -->
		<typeAlias type="kr.co.sist.admin.acc.SearchAccVO"
			alias="searchAccVO" />

		<!-- 숙소 결과를 위한 Domain -->
		<typeAlias type="kr.co.sist.admin.acc.AccommodationDomain"
			alias="aDomain" />

		<typeAlias type="kr.co.sist.admin.acc.AccommodationVO"
			alias="accommodationVO" />

		<!-- -->
		<typeAlias type="kr.co.sist.admin.member.MemberShipDomain"
			alias="memberDomain" />
		<typeAlias type="kr.co.sist.admin.room.AdminRoomDomain"
			alias="adminRoomDomain" />
		<typeAlias type="kr.co.sist.admin.room.RoomVO"
			alias="roomVO" />
		<typeAlias
			type="kr.co.sist.admin.reservation.AdminReservationDomain"
			alias="resDomain" />
		<typeAlias type="kr.co.sist.admin.reservation.SearchResVO"
			alias="searchResVO" />




	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${connectionURL}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>

		<!--user -->
		<!-- 메인페이지 검색 -->
		<mapper
			resource="kr/co/sist/user/searchACM/searchACMMapper.xml" />

		<mapper resource="kr/co/sist/user/ACMdetail/ACMDtailMapper.xml" />


		<!-- 예약페이지 -->
		<mapper
			resource="kr/co/sist/user/reservation/reservationMapper.xml" />


		<!-- member -->
		<mapper resource="kr/co/sist/user/member/memberMapper.xml" />

		<!-- login -->
		<mapper resource="kr/co/sist/user/login/loginMapper.xml" />

		<!-- 마이페이지 -->
		<mapper resource="kr/co/sist/user/mypage/mypageMapper.xml" />
		<mapper resource="kr/co/sist/user/mypage/RSRManageMapper.xml" />
		<mapper
			resource="kr/co/sist/user/review/userReviewManageMapper.xml" />
		<mapper resource="kr/co/sist/infoChange/infoChangeMapper.xml" />


		<!-- admin -->
		<!-- 로그인 -->
		<mapper resource="kr/co/sist/admin/login/adminLoginMapper.xml" />

		<!-- 대시보드 -->
		<mapper
			resource="kr/co/sist/admin/dashboard/dashboardMapper.xml" />

		<!-- 리뷰관리 -->
		<mapper
			resource="kr/co/sist/admin/review/reviewManageMapper.xml" />

		<!-- 숙소관리 -->
		<mapper resource="kr/co/sist/admin/acc/acmMapper.xml" />

		<mapper resource="kr/co/sist/admin/member/memberMapper.xml" />
		<mapper resource="kr/co/sist/admin/room/roomMapper.xml" />
		<mapper
			resource="kr/co/sist/admin/reservation/adminReservationMapper.xml" />

	</mappers>
</configuration>