<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.membership">

<select id="selectMember" resultType="memberDomain" parameterType="String">
    select user_id, user_name, birth, gender, phone_number, user_status, member_type, join_date 
    from member 
    <where>
        <if test="keyword != null and keyword != ''">
            user_name = #{keyword}
        </if>
    </where>
</select>

<select id="selectOneMember" resultType="memberDomain" parameterType="String">
select user_id, user_name, phone_number, birth, gender, user_status, member_type
from member
where user_id=#{user_id}
</select>


<!-- <select id="selectACM" resultType="aDomain" parameterType="searchAccVO">
    SELECT acm_id, main_img, acm_name, acm_type, admin_phone_number, address
    FROM (
        SELECT a.*, ROWNUM rnum
        FROM (
            SELECT a.acm_id, a.main_img, a.acm_name, t.acm_type, a.admin_phone_number, a.address
            FROM ACCOMMODATION a
            JOIN ACCOMMODATION_TYPE t ON a.acm_type_id = t.acm_type_id
            <where>
                <if test="acm_name != null and acm_name != ''">
                    AND INSTR(a.acm_name, #{acm_name}) > 0
                </if>
                <if test="acm_type_id != 0">
                    AND a.acm_type_id = #{acm_type_id}
                </if>
            </where>
            ORDER BY a.acm_id DESC
        ) a
        WHERE ROWNUM &lt;= #{endRow}
    )
    WHERE rnum >= #{startRow}
</select> -->



</mapper>