<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.searchMapper">

	<!-- 숙소 유형별 리스트 검색 -->
	<select id="selectByACMType" resultType="searchACMDomain"
		parameterType="int">
		SELECT
		A.ACM_ID acm_id,
		A.ACM_NAME acm_name,
		A.DETAIL_ADDRESS detail_address,
		A.MAIN_IMG main_img,
		A.ACM_TYPE_ID
		acm_type_id,
		MIN(R.PRICE) AS price,
		MIN(R.DISCOUNT_PRICE) AS
		discountPrice
		FROM ACCOMMODATION A
		JOIN ROOM R ON A.ACM_ID = R.ACM_ID
		WHERE A.ACM_TYPE_ID = #{ACM_TYPE_ID}
		GROUP BY
		A.ACM_ID,
		A.ACM_NAME,
		A.DETAIL_ADDRESS,
		A.MAIN_IMG,
		A.ACM_TYPE_ID
	</select>


	<!-- 각 숙소마다 평균 평점+리뷰수 구하기 -->
	<select id="selectRatingReview" resultType="searchACMDomain"
		parameterType="int">
		SELECT
		A.ACM_ID ACM_ID,
		AVG(R.RATING) AS
		RATING,
		COUNT(R.REVIEW_ID) AS
		REVIEWCNT
		FROM ACCOMMODATION A
		LEFT
		JOIN REVIEW
		R
		ON
		A.ACM_ID =
		R.ACM_ID
		WHERE A.ACM_ID = #{ACM_ID}
		GROUP BY A.ACM_ID
	</select>
	
	<select id="selectACM" parameterType="SearchVO" resultType="ACMTypeDomain">
    SELECT * FROM acm_table
    WHERE 1=1
    <if test="keyword != null and keyword != ''">
        AND keyword LIKE CONCAT('%', #{keyword}, '%')
    </if>
    <if test="startDate != null">
        AND date >= #{startDate}
    </if>
    <if test="finishDate != null">
        AND date &lt;= #{finishDate}
    </if>
    <if test="numberPeople > 0">
        AND number_people >= #{numberPeople}
    </if>
</select>
	
	<!-- selectACMType 메소드에 해당하는 쿼리 정의 -->
    <select id="selectACMType" parameterType="int" resultType="SearchACMDomain">
        SELECT ACM_TYPE_ID, ACM_TYPE
        FROM ACCOMMODATION_TYPE
        WHERE ACM_TYPE_ID = #{acm_type_id}
    </select>
	
	<!-- selectAllACMType 메소드에 해당하는 쿼리 정의 -->
    <select id="selectAllACMType" resultType="ACMTypeDomain">
        SELECT ACM_TYPE_ID, ACM_TYPE
        FROM ACCOMMODATION_TYPE
    </select>

    <!-- selectAllFacility 메소드에 해당하는 쿼리 정의 -->
    <select id="selectAllFacility" resultType="FacilityDomain">
        SELECT f.FCL_ID, f.FCL_NAME
        FROM FACILITIES f
        JOIN PROVIDED_FACILITIES pf ON f.FCL_ID = pf.FCL_ID
        WHERE pf.ACM_ID = #{acmId}
    </select>



</mapper>
